body {
  font-family: "Segoe UI", sans-serif;
  background: #f7f8fa;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background: #0077cc;
  color: white;
  padding: 1.5rem;
}

button {
  background: #0077cc;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background: #005999;
}

.hidden {
  display: none;
}

input {
  padding: 8px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#difficulty {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}
